
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  position: relative;
  margin: 0;
  height: 50px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0;
  padding: 0;
}

.nav-bar a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #3E2723;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.nav-bar a:hover, .nav-bar a.selected {
  text-decoration: none;
  background-color: var(--highlight-primary-color);
  color: #FFFFFF;
}

.nav-toggle {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  color: #3E2723;
  cursor: pointer;
  z-index: 1001;
}

.nav-toggle.toggle-open {
  display: block;
  color: #000000;
  padding: 0 10px;
}

.nav-toggle.toggle-closed {
  padding: 0 0 5px 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 0;
    z-index: 1000;
  }

  .nav-links.nav-mobile-open {
    display: flex;
  }

  .nav-links.nav-mobile-closed {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links a {
    border-top: 1px solid #E0A800;
    color: #3E2723;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
  }

  .nav-links a:hover {
    text-decoration: none;
    background-color: var(--highlight-primary-color);
    color: #FFFFFF;
  }
}
