.emergency-container {
  line-height: 1.6;
  padding: 1.5rem;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
}

.section-title {
  margin-bottom: 0.5rem;
  color: #444;
}

.emergency-hours,
.emergency-contact {
  padding: 0;
  margin-left: 1rem;

}

.emergency-hours li,
.emergency-contact li {
  margin-bottom: 1rem;
}

.divider {
  border: none;
  border-top: 1px solid #b4b3b3;
  margin: 1.5rem 0;
}
